// Light Theme // Light Theme // Light Theme // Light Theme // Light Theme // Light Theme 
// Light Theme // Light Theme // Light Theme // Light Theme // Light Theme // Light Theme

// $bgColorMob: linear-gradient( to bottom right, #ffe3f1 , #ffffff );

// $bgColorDesk: linear-gradient( to bottom right, #ffffff, #ffe3f1 );

// $bgColorNav: #e65399;

// $txtColor: #ffffff;

// $hyperTxtColor: rgb(77, 97, 203);

// // Post Card

// $postBgColor: rgba(255, 255, 255, 0.8);
// $postShadow: 0 2px 4px rgba(0, 0, 0, 0.2);

// $postImgFooterBg: rgba(0, 0, 0, 0.5);
// $postImgFooterTxt: #ffffff;

// $postIconColor: rgba(190, 190, 190, 0.7);
// $postCationTxt: rgba(82, 82, 82);
// $postCommentTxt: gray;


// Dark Theme // Dark Theme // Dark Theme // Dark Theme // Dark Theme // Dark Theme 
// Dark Theme // Dark Theme // Dark Theme // Dark Theme // Dark Theme // Dark Theme

$bgColorMob: rgb(30, 30, 30);

$bgColorDesk: rgb(30, 30, 30);

$bgColorNav: #000000e4;

$txtColor: #ffffff;

$hyperTxtColor: rgb(74, 94, 193);

// Post Card

$postBgColor: rgba(15, 15, 15);
$postShadow: 0 2px 4px rgba(120, 120, 120, 0.1);

$postImgFooterBg: #8c8c8cba;
$postImgFooterTxt: #151515;

$postIconColor: rgba(0, 0, 0, 0.6);
$postCationTxt: rgb(240, 240, 240);
$postCommentTxt: rgb(190, 190, 190);







