.noPosts{

    padding-top: 150px;
    width: 100%;
    text-align: center;

    h1, h2 {
        color: white;
        font-size: 32px;
    }

    button {
        margin-top: 20px;
        background-color: #1a73e8;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }
}